name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - uses: actions/checkout@v4

      # 1. ÖNCE JAVA KURUYORUZ (Android için şart!)
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      # 2. Python Kurulumu
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 3. Gerekli Tüm Sistem Parçaları
      - name: Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            libffi-dev \
            libltdl-dev \
            libssl-dev \
            zip \
            unzip \
            autoconf \
            libtool \
            pkg-config \
            zlib1g-dev
          pip install --upgrade pip
          pip install buildozer cython==0.29.33

      # 4. APK Pişirme İşlemi
      - name: Build with Buildozer
        run: |
          yes | buildozer android debug

      # 5. Dosyayı Yükleme
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: bin/*.apk
